#### Problem 1: 

You have been provided with an Excel file named "sales_data.xlsx". This file contains multiple sheets, and you need to work specifically with the sheet named "February".

Write a Python program to:
1. Import the Excel file and load the data from the "February" sheet into a Pandas DataFrame.
2. Print the first 10 rows of the data to verify that the correct sheet has been loaded.

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

df = pd.read_excel("/Users/mdshahriar/Downloads/My Files and Docx/Generative AI/Hands-on Labs/sales_data.xlsx", sheet_name = "February")
df.head(10)

        Date    Product  Units Sold  Revenue Region
0 2025-01-01  Product A          10      100  North
1 2025-01-02  Product B          15      150  South
2 2025-01-03  Product C           7       70   East
3 2025-01-04  Product A          20      200   West
4 2025-01-05  Product B          25      250  North
5 2025-01-06  Product C          12      120  South
6 2025-01-07  Product A          30      300   East
7 2025-01-08  Product B          35      350   West
8 2025-01-09  Product C          14      140  North
9 2025-01-10  Product A          40      400  South

#### Problem 2: 

You have the following dictionary representing product data.

Write a Python program to:
1. Convert the dictionary into a Pandas DataFrame.
2. Export this DataFrame into a CSV file named "products.csv", ensuring that row indices are not included in the output file.
3. Print a confirmation message after successfully exporting the file.

In [6]:
# The dictionary
data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard'],
    'Price': [1000, 25, 50],
    'Stock': [50, 200, 150]
}

product = pd.DataFrame(data)

product.to_csv("/Users/mdshahriar/Downloads/My Files and Docx/Generative AI/Hands-on Labs/products.csv", index = False)

print("The data has been successfully exported to 'products.csv'.")

The data has been successfully exported to 'products.csv'.